<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>CheckMail</servlet-name>
        <servlet-name>ClosePoll</servlet-name>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-name>DeletePoll</servlet-name>
        <servlet-name>MailPoll</servlet-name>
        <servlet-name>RegisterCustomer</servlet-name>
        <servlet-name>SavePoll</servlet-name>
        <servlet-name>ShowCustomers</servlet-name>
        <servlet-name>ShowPolls</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/CreatePoll.jsp</url-pattern>
        <url-pattern>/CustomerEntry.jsp</url-pattern>
        <url-pattern>/ViewAllCustomers.jsp</url-pattern>
        <url-pattern>/ViewPoll.jsp</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.ConnectionHandler</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegisterCustomer</servlet-name>
        <servlet-class>controller.RegisterCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePoll</servlet-name>
        <servlet-class>controller.SavePoll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPolls</servlet-name>
        <servlet-class>controller.ShowPolls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCustomers</servlet-name>
        <servlet-class>controller.ShowCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>controller.DeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePoll</servlet-name>
        <servlet-class>controller.DeletePoll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailPoll</servlet-name>
        <servlet-class>controller.MailPoll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VotePoll</servlet-name>
        <servlet-class>controller.VotePoll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckMail</servlet-name>
        <servlet-class>controller.CheckMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAdmin</servlet-name>
        <servlet-class>controller.CheckAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClosePoll</servlet-name>
        <servlet-class>controller.ClosePoll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterCustomer</servlet-name>
        <url-pattern>/RegisterCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePoll</servlet-name>
        <url-pattern>/SavePoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPolls</servlet-name>
        <url-pattern>/ShowPolls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCustomers</servlet-name>
        <url-pattern>/ShowCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePoll</servlet-name>
        <url-pattern>/DeletePoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailPoll</servlet-name>
        <url-pattern>/MailPoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VotePoll</servlet-name>
        <url-pattern>/VotePoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckMail</servlet-name>
        <url-pattern>/CheckMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAdmin</servlet-name>
        <url-pattern>/CheckAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClosePoll</servlet-name>
        <url-pattern>/ClosePoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LogIn.jsp</welcome-file>
    </welcome-file-list>
</web-app>
